
<div class="text-center">
    <h1>logging</h1>
</div>

<script language="javascript">
    function getSamlInfo() {
        return {
            "username": "@Model.UserName",
            "provider": "@Model.Provider",
        }
    }
</script>
